* {
  margin: 0;
  padding: 0;
}
.title {
  text-align: center;
  margin: 50px 0px;
}
form {
  max-width: 520px;
  margin: 0 auto;
}
form > .content-title {
  font-size: 24px;
}
.content-title > textarea {
  border: 2px solid gray;
  resize: none;
  border-radius: 10px;
  width: 100%;
  margin-top: 10px;
  padding: 5px;
  font-size: 18px;
}
.btn {
  padding: 15px 25px;
  font-size: 18px;
  border: none;
  background-color: rgb(119, 119, 253);
  border-radius: 5px;
  color: white;
  margin: 10px 0px;
  cursor: pointer;
}
.content-display {
  font-size: 18px;
  text-align: center;
  padding: 20px 40px;
}
.footer-title {
  margin-top: 250px;
  text-align: center;
}
